@charset "UTF8";

/* ======= Reset ======= */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

 /* ======= Header ======= */

header {
    background-color: #02351a;
    width: 100%;
    padding: 30px 30px;
}

header .navegacao {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .navegacao h1 {
    font-size: 1.5rem;
}

header .navegacao h1 a {
    color: white;
}

header .navegacao nav {
    margin-left: auto;
    display: flex;
    font-size: 1rem;
} 

header ul {
  display: flex;
  flex-wrap: wrap;
}

header li a {
    margin: 10px;
    color: white;
    border-radius: 30px;
}

header li a:hover {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 100px;
}

 /* ======= Hero ======= */

.hero {
    width: 100%;
    padding: 70px;
    background-color: rgb(0, 63, 5);
    background-image: url(../imagens/backgroud-hero.jpg);
    background-position: 0px -85px;;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.hero div {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;

}

.hero p {
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.hero .btn {
    width: 150px;
    height: 30px;
    border-style: solid;
    border-color: red;
    color: white;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero a.btn {
    font-size: 1.3rem;
}

.hero a.btn:hover {
    background-color: red;
}
  
/* ======= Sobre ======= */

.sobre {
    width: 100%;
    background-color: white;
    background-image: url(../imagens/background-container/background-container.png);
    background-repeat: repeat-x repeat-y;
    
}

.sobre h1.titulo {
    font-size: 3rem;
    text-align: center;
}

.sobre hr.hr-sobre {
    width: 50px;
    height: 10px;
    background-color: red;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.sobre h2.subtitulo-sobre {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sobre .container {
    width: 75%;
    background-color: white;
    border-style: dashed;
    border-color: black;
    border-radius: 30px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    font-size: 1rem; 
}

.sobre .container p.texto-sobre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    text-indent: 50px;
    z-index: 3;
}

.sobre .container img {
    position: relative;
    top: 30px;
    left: 30px;
    opacity: 50%;
}

.sobre .previa {
    width: 75%;
    background-color: rgb(110, 197, 139);
    border-style: dashed;
    border-color: black;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.previa .pvita {
    width: 171px;
    height: 171px;
    background-color: white;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 65px 65px 0px 65px;
    background-image: url(../imagens/sobre/vita.png);
}

.previa .pvita:hover {
    background-color: yellow;
    border-style: solid;
    border-color: rgb(3, 88, 0);
}

.previa .psais {
    width: 171px;
    height: 171px;
    background-color: white;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 65px 65px 0px 65px;
    background-image: url(../imagens/sobre/sais.png);
}

.previa .psais:hover {
    background-color: red;
    border-style: solid;
    border-color: rgb(3, 88, 0);
}

.previa .pamin {
    width: 171px;
    height: 171px;
    background-color: white;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 65px 65px 0px 65px;
    background-image: url(../imagens/sobre/amin.png);
}

.previa .pamin:hover {
    background-color: green;
    border-style: solid;
    border-color: rgb(3, 88, 0);
}

.previa .pcarb {
    width: 171px;
    height: 171px;
    background-color: white;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 65px 65px 0px 65px;
    background-image: url(../imagens/sobre/carb.png);
}

.previa .pcarb:hover {
    background-color: blue;
    border-style: solid;
    border-color: rgb(3, 88, 0);
}

iframe {
    width: 100%;
    height: 600px;
    background-color: white;
}



/* ======= Sobre Parallax ======= */

.parallax-sobre {
    background-image: url(../imagens/parallax/sobre-parallax.jpg);
    width: 100%;
    padding: 8%;
    background-position: 0px -85px;;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-sobre h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.parallax-sobre p {
    font-size: 1rem;
    color: white;
    text-align: center;
}

/* ======= Vitaminas ======= */
    
.vitaminas {
    width: 100%;
    margin: auto;
    background-color: white;
    background-image: url(../imagens/background-container/background-container.png);
    background-repeat: repeat-x repeat-y;
}

.vitaminas .container {
    width: 75%;
    margin: auto;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-style: dashed;
    border-color: black;
    border-radius: 30px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.vitaminas h1.titulo {
    margin: auto;
    font-size: 3rem;
    text-align: center;
}

.vitaminas hr.hr-vita {
    width: 50px;
    height: 10px;
    background-color: red;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.vitaminas h2.subtitulo-vita {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.vitaminas .container .texto1 p {
    width: 440px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    flex-wrap: rap;
    text-indent: 50px;
}

.vitaminas .container .imagem1 {
    width: 350px;
    height: 230px;
    border-radius: 90px 0px 90px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    background-image: url(../imagens/vitaminas/vita-img1.jpg);
}

.vitaminas .container .texto2 p {
    width: 440px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    flex-wrap: rap;
    text-indent: 50px;
}

.vitaminas .container .imagem2 {
    width: 350px;
    height: 230px;
    border-radius: 90px 0px 90px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    background-image: url(../imagens/vitaminas/vita-img2.jpg);
}

/* Hidrossolúveis */

.hidro {
    width: 100%;
    padding: 70px;
    margin: auto;
    /*
    background-image: linear-gradient(to right, rgb(0, 75, 0), rgb(1, 95, 1), rgb(1, 143, 1) );
    */
    background-color: rgb(90, 90, 90);
    background-image: url(../imagens/background-container/background-container\ -\ Copia-01.png);
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vitaminas h2.subtitulo-hidro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
}

.hidro .vitamina-b1 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b1:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b2 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
   
}

.hidro .vitamina-b2:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b3 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b3:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b5 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b5:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b7 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b7:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b9 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b9:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-b12 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-b12:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .vitamina-c {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.hidro .vitamina-c:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.hidro .faixa1 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa2 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa3 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa4 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa5 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa6 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa7 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .faixa8 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.hidro .tema1 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema2 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema3 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema4 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema5 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema6 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema7 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .tema8 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.hidro .vitamina-b1 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b2 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b3 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b5 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b7 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b9 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-b12 img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.hidro .vitamina-c img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

/* Lipossolúveis */

.lipo {
    width: 100%;
    padding: 70px;
    margin: auto;
    background-color: rgb(90, 90, 90);
    background-image: url(../imagens/background-container/background-container\ -\ Copia-01.png);
    border-style: dashed;
    border-color: red;
    border-width: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vitaminas h2.subtitulo-lipo {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
}

.lipo .vitamina-a {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.lipo .vitamina-a:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.lipo .vitamina-d {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.lipo .vitamina-d:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.lipo .vitamina-e {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.lipo .vitamina-e:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.lipo .vitamina-k {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #02351a;
    border-radius: 30px;
}

.lipo .vitamina-k:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.lipo .faixa1 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.lipo .faixa2 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.lipo .faixa3 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.lipo .faixa4 {
    width: 145px;
    height: 40px;
    margin: auto;
    border-style: solid;
    border-color: #02351a;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 6px;
}

.lipo .tema1 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.lipo .tema2 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.lipo .tema3 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.lipo .tema4 {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: -22px;
    font-size: .9rem;
}

.lipo .vitamina-a img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.lipo .vitamina-d img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.lipo .vitamina-e img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

.lipo .vitamina-k img {
    position: relative;
    top: -28px;
    font-size: 1.3rem;
    max-width: 90%;
}

/* Funções - Hidrossolúveis*/

.func-hidro {
    width: 100%;
    padding: 70px;
    margin: auto;
    background-color: rgb(255, 187, 0);
    background-image: url(../imagens/background-container/background-container\ -\ Copia-01.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.vitaminas h2.subtitulo-func {
    margin-top: 50px;
    text-align: center;
    color: black;
    font-size: 2rem;
}

.vitaminas h3.subtitulo-func {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.func-hidro .func-vitamina-b1 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b1:hover {
    color: white;
    border-color: red;
    border-style: solid;
    background-color: #02351a;
    
}

.func-hidro .func-vitamina-b2 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b2:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b3 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b3:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b5 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b5:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b7 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b7:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b9 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b9:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b12 {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-b12:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-c {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-hidro .func-vitamina-c:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-hidro .func-vitamina-b1 .faixa1 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b2 .faixa2 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b3 .faixa3 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b5 .faixa4 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b7 .faixa5 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b9 .faixa6 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b12 .faixa7 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-c .faixa8 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-hidro .func-vitamina-b1 .tema1 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b2 .tema2 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b3 .tema3 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b5 .tema4 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b7 .tema5 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b9 .tema6 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b12 .tema7 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-c .tema8 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-hidro .func-vitamina-b1 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b2 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b3 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b5 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b7 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b9 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-b12 ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-hidro .func-vitamina-c ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

/* Funções - Lipossolúveis*/

.func-lipo {
    width: 100%;
    padding: 70px;
    margin: auto;
    background-color: rgb(90, 90, 90);
    background-image: url(../imagens/background-container/background-container\ -\ Copia-01.png);
    border-style: dashed;
    border-color: red;
    border-width: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
}

.vitaminas h3.subtitulo-func {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.func-lipo .func-vitamina-a {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-lipo .func-vitamina-a:hover {
    color: white;
    border-color: red;
    border-style: solid;
    background-color: #02351a;
    
}

.func-lipo .func-vitamina-d {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-lipo .func-vitamina-d:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-lipo .func-vitamina-e {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-lipo .func-vitamina-e:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-lipo .func-vitamina-k {
    width: 320px;
    height: 182px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #02351a;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.func-lipo .func-vitamina-k:hover {
    color: white;
    border-color: red;
    background-color: #02351a;
    border-style: solid;
}

.func-lipo .func-vitamina-a .faixa1 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-lipo .func-vitamina-a .faixa1:hover {
    background-color: red;
}

.func-lipo .func-vitamina-d .faixa2 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-lipo .func-vitamina-e .faixa3 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px; 
}

.func-lipo .func-vitamina-k .faixa4 {
    width: 290px;
    height: 32px;
    margin: auto;
    border-color: #02351a;
    border-style: solid;
    background-color: red;
    border-radius: 30px;
    position: relative;
    top: 5px;
}

.func-lipo .func-vitamina-a .tema1 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-lipo .func-vitamina-d .tema2 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-lipo .func-vitamina-e .tema3 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-lipo .func-vitamina-k .tema4 {
    color: white;
    text-align: center;
    position: relative;
    top: -19px;
    font-size: .9rem;
}

.func-lipo .func-vitamina-a ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-lipo .func-vitamina-d ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-lipo .func-vitamina-e ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}

.func-lipo .func-vitamina-k ul li {
    font-size: .9rem;
    margin-left: 30px;
    margin-right: 30px;
}


/* ======= Sais Minerais ======= */



/* ======= Aminoácidos ======= */



/* ======= Carboidratos ======= */



/* ======= Contato ======= */



/* ======= Footer ======= */


